body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #87CEEB;
}

#gameArea {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #87CEEB;
}

#circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #FF4500;
    border-radius: 50%;
    left: 50px;
    top: 50px;
}

.square {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #0000FF;
}

.small-circle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #FFD700;
    border-radius: 50%;
}